* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Oswald", sans-serif;
  margin-top: 20px;
  background-color: #f2f2f2;
}

.homeContainer {
  -webkit-box-shadow: -18px 10px 76px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -18px 10px 76px -16px rgba(0, 0, 0, 0.75);
  box-shadow: -18px 10px 76px -16px rgba(0, 0, 0, 0.75);
  margin-bottom: 50px;
  width: 1000px;
  background-color: #dfdfdf;
  margin-left: auto;
  margin-right: auto;
}
.homeContainer .header, .homeContainer .footer {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #06947b;
  border-bottom: 10px solid #383838;
}
.homeContainer .header #color, .homeContainer .footer #color {
  color: #51d6ea;
}
.homeContainer .header h1, .homeContainer .footer h1 {
  margin-top: 15px;
  letter-spacing: 4px;
  padding: 30px 30px;
  color: #eeeeee;
}
.homeContainer .header h6, .homeContainer .footer h6 {
  margin-left: auto;
  margin-right: auto;
  font-family: 'PT Serif', serif;
  padding-top: 15px;
  border-top: 1px solid #383838;
  width: 620px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.homeContainer .content {
  margin: 0px 5px;
  padding: 10px 5px;
  height: 180px;
}
.homeContainer .content .content1, .homeContainer .content .content2 {
  -webkit-box-shadow: -18px 10px 76px -40px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -18px 10px 76px -40px rgba(0, 0, 0, 0.75);
  box-shadow: -18px 10px 76px -40px rgba(0, 0, 0, 0.75);
  float: left;
  position: relative;
  background-color: #383838;
  width: 48%;
}
.homeContainer .content .content1 .h2, .homeContainer .content .content2 .h2, .homeContainer .content .content1 .content2 h2, .homeContainer .content .content2 .content1 h2, .homeContainer .content .content2 h2 {
  color: #eeeeee;
  margin: 5px 5px;
}
.homeContainer .content .content1 .p, .homeContainer .content .content2 .p, .homeContainer .content .content1 .content2 p, .homeContainer .content .content2 .content1 p, .homeContainer .content .content2 p {
  background-color: #eeeeee;
  margin: 5px 0px;
  padding: 5px 5px;
}
.homeContainer .content .content2 {
  float: right;
}
.homeContainer .footer {
  position: relative;
  border: 0;
  bottom: 0;
  color: #eeeeee;
}
