$fontface: 'Oswald', sans-serif;
$black:#383838;
$white: #eeeeee;
$headcolor:#06947b;
* {
  margin:0;
  padding:0;
}
body{
  width: 100%;
  font-family: $fontface;
  margin-top: 20px;
  background-color:#f2f2f2;
}
@mixin center-container($a){
  margin-left:$a;
  margin-right:$a;
}
@mixin zeroes($zero){
  border: $zero;
  bottom: $zero;
}
@mixin box-shadow($boxshadow){
  -webkit-box-shadow: $boxshadow;
  -moz-box-shadow: $boxshadow;
  box-shadow: $boxshadow;
}

.homeContainer{
  @include box-shadow(-18px 10px 76px -16px rgba(0,0,0,0.75));
  margin-bottom:50px;
  width: 1000px;
  background-color: #dfdfdf;
  @include center-container(auto);
  .header{
    text-align: center;
    width: 100%;
    @include center-container(auto);
    background-color:#06947b;
    border-bottom: 10px solid $black;
      #color { color: #51d6ea;}
        h1{
          margin-top: 15px;
          letter-spacing: 4px;
          padding: 30px 30px;
          color: $white; }
        h6 {
          @include center-container(auto);
          font-family: 'PT Serif', serif;
          padding-top: 15px;
          border-top: 1px solid $black;
          width: 620px;
          letter-spacing: 2px;
          margin-bottom: 5px; }
  }
  .content{
    margin: 0px 5px;
    padding: 10px 5px;
    height: 180px;
    .content1{
      @include box-shadow(-18px 10px 76px -40px rgba(0,0,0,0.75));
      float:left;
      position: relative;
      background-color: $black;
      width: 480px / 1000px * 100%;
      .h2{
          color: $white;
          margin: 5px 5px; }
      .p{
        background-color: $white;
        margin: 5px 0px;
        padding: 5px 5px; }
    }
    .content2{
      @extend .content1;
      float: right;
      h2{
          @extend .h2; }
      p{
        @extend .p; }}}
  .footer{
    @extend .header;
    position: relative; @include zeroes(0); 
    color: $white
  }
}
